*
  border: pink solid .3px;
header {

}
h1 {
  margin: 0px;
}
h2 {
  margin: 0;
}
h3 {
  margin-bottom:0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 0px;
}
h5 {
  margin:0px;
}
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
  font-size: 13px;
  margin-right: 270px;
}
body {
  margin-left: 175px;
}
ul {
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
  display: inline-block;
}
div.block {
  display: inline-block;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 100px;
}
div.top {
  display: inline-block;
}
div.link {
  display:block;
  padding: 0px;
  margin-left: 500px;
}
div.title {
  display:inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding:0px;
}
div.print {
  margin-left: 800px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}
