*
  {border: pink solid 2px;}

header {

}
ul {
  margin-top: 0

}
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
  font-size: 13px;
}
h2 {
  margin-bottom:0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 350px;

}
ul {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: inline-block;
}
div.block {
  display: inline-block;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 100px;
}
div.top {
  display: inline-block;
}
div.link {
  display:block;
  padding: 0px;
  margin-left: 100px;
}
body {
  margin-left: 175px;
}
div.title {
  display:inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
  padding:0px;
}
