*
  border: black solid 2px;

header {

}
ul {
  margin-top: 0;

}
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
}
h2 {
  margin-bottom:0px;
  margin-top: 0px;
  padding-top: 0px;

}
ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: 400px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
div.block {
  display: inline-block;
  margin-top: 15px;
  margin-left: 193px;
}
div.top {
  display: inline-block;
}
